.sconsign.dblite
config.log
.sconf_temp
_build*
*.dylib
*.o
*.os
*.so
*.cfgc
*.pyc
doc/html
doc/*.tag
doc/*.inc
doc/doxygen.conf
doc/xml
tests/.tests
.cache
tests/.cache
version.py
foo1.pickle
foo3.pickle
flat_R1,1_S2,2_C0,0_E000.pickle
flat_R1,1_S2,2_C0,0_E001.pickle
flat_R1,1_S2,2_C0,1_E000.pickle
flat_R1,1_S2,2_C1,0_E001.pickle
flat_R1,1_S2,2_C1,1_E000.pickle
flat_R1,2_S2,1_C0,0_E001.pickle
flat_R1,2_S2,2_C0,0_E000.pickle
tests/DbStorage_1
tests/FitsStorage_1
tests/FormatterRegistry_1
tests/Persistence_1
tests/Persistence_2
tests/Persistence_3
tests/PropertySetPersist
tests/PropertySet_2
tests/data
tests/root/out
